
<nav class="navbar navbar-expand-lg" style="background-image: linear-gradient(90deg,#0067CF,#023b76);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: #e3eaef" routerLink="/"> <img
        src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/logos%2Flogo%20blanco.png?alt=media&token=0fd4deda-5a8c-4db7-89eb-05e8c1e1643c"
        alt="" width="100" height="30"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="sinSesion!=true">
          <div>
            <li class="nav-item " *ngIf="admin==true">
              <a class="nav-link active" href="#" routerLink="/app-registro-bibliotecario">
                <img
                  src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fagregar-usuario%20(1).png?alt=media&token=c04b535c-bdbd-4f71-9d57-1688666ddd43"
                  alt="" width="25" height="25"></a>
            </li>
          </div>
          <li class="nav-item" *ngIf="estudiante==false">
            <a class="nav-link active" href="#" routerLink="/app-vista-registro-new">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fagregar%20(1).png?alt=media&token=077d2984-4b56-4b72-a862-7be65d5f4832"
                alt="" width="25" height="25"></a>
          </li>

          <li class="nav-item dropdown" *ngIf="estudiante==false">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fleyendo.png?alt=media&token=c5b2cfa9-9418-4087-aff0-b7e6f07fbe1b"
                alt="" width="25" height="25">
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/app-lista-solicitudes-pendientes">Lista de solicitudes</a></li>
              <li>
              <li><a class="dropdown-item" routerLink="/app-lista-solicitudes-terceros">Lista de solicitudes a
                  terceros</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" routerLink="/app-registro-solicitud">Registrar una solicitud</a></li>
              <li><a class="dropdown-item" routerLink="/app-registro-solicitud-tercerapersona">Registrar una solicitud
                  para una persona externa</a></li>
            </ul>
          </li>


          <li class="nav-item dropdown" *ngIf="estudiante==false">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Flista.png?alt=media&token=95e8450f-1aee-4a02-9068-4550a86f63e5"
                alt="" width="25" height="25"></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/app-lista-bibliotecarios">Lista bibliotecarios</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" routerLink="/app-listas">Lista autor-tipo</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" routerLink="/app-lista-docentes">Lista docentes</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" routerLink="/app-lista-terceros">Lista terceros</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" routerLink="/app-lista-donante">Lista donante - etiquetas</a></li>
            </ul>
          </li>


          <li class="nav-item dropdown" *ngIf="estudiante==false">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Freporte-de-negocios.png?alt=media&token=b47985f5-b219-4d8e-ace8-0095991d1aaf"
                alt="" width="25" height="25"></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/app-reporte-libros">Reporte de libros</a></li>
              <hr class="dropdown-divider">
              <li><a class="dropdown-item" routerLink="/app-reporte-sugerencias">Reporte de sugerencias</a></li>
            </ul>
          </li>
        </ul>



        <div *ngIf="bibliotecario || admin">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              style="background-color: transparent; border: none;color: #0067CF;">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fnotificacion.png?alt=media&token=d3afd330-3414-4ed6-b131-a498de2ba691"
                alt="" width="25" height="25">
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                *ngIf="nuevosRegistros > 0">
                {{nuevosRegistros}}
                <span class="visually-hidden">unread messages</span>
              </span>
            </button>
            <div class="dropdown-menu" style="max-width: 200px; background-color: transparent; border: none;"
              (change)="ocultar()">
              <div class="notification-container">
                <h3>Notificaciones
                  <i class="material-icons dp48 right" (click)="clear()">clear</i>

                </h3>

                <hr>


                <table class="table">

                  <tbody class="text-center" style="font-size: 70%;">
                    <td *ngIf="notificationlista == null">No tienes notificaciones nuevas</td>
                    <tr *ngFor="let mensaje of notificationlista">

                      <td *ngIf="mensaje.mensaje == 1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                          style="color: rgb(104, 238, 70);" fill="currentColor" class="bi bi-file-earmark-plus-fill"
                          viewBox="0 0 16 16">
                          <path
                            d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z" />
                        </svg>El usuario "{{mensaje.prestamo?.idSolicitante?.nombres}}" ha
                        solicitado el libro "{{mensaje.prestamo?.libro?.titulo}}".</td>
                      <td *ngIf="mensaje.mensaje == 4"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                          style="color: rgb(238, 238, 70);" fill="currentColor" class="bi bi-exclamation-triangle-fill"
                          viewBox="0 0 16 16">
                          <path
                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg><strong>El préstamo
                          del libro "{{mensaje.prestamo?.libro?.titulo}}" al
                          usuario "{{mensaje.prestamo?.idSolicitante?.nombres}}" a superado la fecha de devolución
                          "{{mensaje.prestamo?.fechaDevolucion}}" ¡Contáctalo al numero:
                          <strong>{{mensaje.prestamo?.idSolicitante?.celular}}</strong>! .</strong> </td>

                      <td *ngIf="mensaje.mensaje == 1">

                        <button class="Btn" *ngIf="!mensaje.visto" (click)="alerta(mensaje)"
                          style="  top:  100%; background-color: rgb(245, 137, 136);">

                          <div class="sign"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                              fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                              <path
                                d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg></div>

                          <div class="text">Revisar</div>
                        </button>

                        <button class="Btn" *ngIf="mensaje.visto"
                          style="  top:  100%; background-color: rgb(129, 242, 129);">

                          <div class="sign"><svg xmlns="http://www.w3.org/2000/svg" width="20%" height="20%"
                              fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                              <path
                                d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z" />
                            </svg></div>

                          <div class="text">&nbsp;&nbsp;Revisado</div>
                        </button>


                      </td>

                      <td *ngIf="mensaje.mensaje == 4">

                        <button class="Btn" *ngIf="!mensaje.visto" (click)="alerta(mensaje)"
                          style="  top:  100%; background-color: rgb(245, 137, 136);">

                          <div class="sign"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                              fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                              <path
                                d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg></div>

                          <div class="text">Revisar</div>
                        </button>

                        <button class="Btn" *ngIf="mensaje.visto"
                          style="  top:  100%; background-color: rgb(129, 242, 129);">

                          <div class="sign"><svg xmlns="http://www.w3.org/2000/svg" width="20%" height="20%"
                              fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                              <path
                                d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z" />
                            </svg></div>

                          <div class="text">&nbsp;&nbsp;Revisado</div>
                        </button>


                      </td>

                    </tr>


                  </tbody>
                </table>




              </div>
            </div>
          </div>
        </div>


        <div *ngIf="estudiante">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              style="background-color: transparent; border: none;color: #0067CF;">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fnotificacion.png?alt=media&token=d3afd330-3414-4ed6-b131-a498de2ba691"
                alt="" width="25" height="25">
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                *ngIf="nuevosRegistrosEst > 0">
                {{nuevosRegistrosEst}}
                <span class="visually-hidden">unread messages</span>
              </span>
            </button>
            <div class="dropdown-menu" style="max-width: 200px; background-color: transparent; border: none;"
              (change)="ocultar()">
              <div class="notification-container">
                <h3>Notificaciones
                  <i class="material-icons dp48 right" (click)="clear()">clear</i>

                </h3>

                <hr>


                <table class="table">

                  <tbody class="text-center" style="font-size: 70%;">
                    <td *ngIf="notificationlistaest == null">No tienes notificaciones nuevas</td>
                    <tr *ngFor="let mensaje of notificationlistaest">

                      <td *ngIf="mensaje.mensaje == 3"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                          style="color: red;" height="20" fill="currentColor" class="bi bi-x-circle-fill"
                          viewBox="0 0 16 16">
                          <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                        </svg>Su prestamo ha sido rechazado.</td>
                      <td *ngIf="mensaje.mensaje == 5"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                          style="color: rgb(238, 238, 70);" fill="currentColor" class="bi bi-exclamation-triangle-fill"
                          viewBox="0 0 16 16">
                          <path
                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg><strong>Su préstamo del libro
                          "{{mensaje.prestamo?.libro?.titulo}}" a superado la fecha de devolución
                          "{{mensaje.prestamo?.fechaMaxima}}".</strong> </td>
                      <td *ngIf="mensaje.mensaje == 7"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                          style="color: rgb(238, 238, 70);" fill="currentColor" class="bi bi-info-circle-fill"
                          viewBox="0 0 16 16">
                          <path
                            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                        </svg>No olvides devolver el libro
                        "{{mensaje.prestamo?.libro?.titulo}}" hasta el "{{mensaje.prestamo?.fechaMaxima}}".</td>
                      <td *ngIf="mensaje.mensaje == 6"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                          style="color:  rgb(104, 238, 70);" fill="currentColor" class="bi bi-file-earmark-check-fill"
                          viewBox="0 0 16 16">
                          <path
                            d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm1.354 4.354-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708.708z" />
                        </svg>Su prestamo del libro "{{mensaje.prestamo?.libro?.titulo}}" a
                        sido devuelto exitosamente.</td>

                      <td *ngIf="mensaje.mensaje == 3">

                        <button class="Btn" *ngIf="!mensaje.visto" (click)="alertaestudiante(mensaje)"
                          style="  top:  100%; background-color: rgb(245, 137, 136);">

                          <div class="sign"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                              fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                              <path
                                d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg></div>

                          <div class="text">Revisar</div>
                        </button>

                        <button class="Btn" *ngIf="mensaje.visto"
                          style="  top:  100%; background-color: rgb(129, 242, 129);">

                          <div class="sign"><svg xmlns="http://www.w3.org/2000/svg" width="20%" height="20%"
                              fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                              <path
                                d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z" />
                            </svg></div>

                          <div class="text">&nbsp;&nbsp;Revisado</div>
                        </button>


                      </td>

                      <td *ngIf="mensaje.mensaje == 5">

                        <button class="Btn" *ngIf="!mensaje.visto" (click)="alertaestudiante(mensaje)"
                          style="  top:  100%; background-color: rgb(245, 137, 136);">

                          <div class="sign"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                              fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                              <path
                                d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg></div>

                          <div class="text">Revisar</div>
                        </button>

                        <button class="Btn" *ngIf="mensaje.visto"
                          style="  top:  100%; background-color: rgb(129, 242, 129);">

                          <div class="sign"><svg xmlns="http://www.w3.org/2000/svg" width="20%" height="20%"
                              fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                              <path
                                d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z" />
                            </svg></div>

                          <div class="text">&nbsp;&nbsp;Revisado</div>
                        </button>


                      </td>


                      <td *ngIf="mensaje.mensaje == 7">

                        <button class="Btn" *ngIf="!mensaje.visto" (click)="alertaestudiante(mensaje)"
                          style="  top:  100%; background-color: rgb(245, 137, 136);">

                          <div class="sign"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                              fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                              <path
                                d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg></div>

                          <div class="text">Revisar</div>
                        </button>



                        <button class="Btn" *ngIf="mensaje.visto"
                          style="  top:  100%; background-color: rgb(129, 242, 129);">

                          <div class="sign"><svg xmlns="http://www.w3.org/2000/svg" width="20%" height="20%"
                              fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                              <path
                                d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z" />
                            </svg></div>

                          <div class="text">&nbsp;&nbsp;Revisado</div>
                        </button>


                      </td>




                      <td *ngIf="mensaje.mensaje == 6">

                        <button class="Btn" *ngIf="!mensaje.visto" (click)="alertaestudiante(mensaje)"
                          style="  top:  100%; background-color: rgb(245, 137, 136);">

                          <div class="sign"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                              fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                              <path
                                d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                            </svg></div>

                          <div class="text">Revisar</div>
                        </button>

                        <button class="Btn" *ngIf="mensaje.visto"
                          style="  top:  100%; background-color: rgb(129, 242, 129);">

                          <div class="sign"><svg xmlns="http://www.w3.org/2000/svg" width="20%" height="20%"
                              fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                              <path
                                d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z" />
                            </svg></div>

                          <div class="text">&nbsp;&nbsp;Revisado</div>
                        </button>


                      </td>
                    </tr>


                  </tbody>
                </table>




              </div>
            </div>
          </div>
        </div>

        <div class="dropdown" *ngIf="sinSesion!=true">
          <a class="btn btn-primary dropdown-item" style="background:transparent ; border-color: white"
            routerLink="/app-registro-usuario">

            <img
              src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fconfiguracion.png?alt=media&token=300f3996-9d7f-4d7b-8bd5-3641c4e53031"
              width="25" height="25">
          </a>
        </div>

        <div class="dropdown" *ngIf="bibliotecario || admin">
          <a class="btn btn-primary dropdown-item" style="background:transparent ; border-color: white"
            title="Generar Certificado de no adeudo" (click)="obtenerPersona()">

            <svg xmlns="http://www.w3.org/2000/svg" style="color: rgb(205, 204, 204);" width="20" height="20"
              fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
              <path
                d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z" />
              <path
                d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
            </svg>
          </a>
        </div>

        &nbsp;&nbsp;

        <app-login class="boton" *ngIf="(auth.isAuthenticated$ | async) === false">
        </app-login>

        <app-logout class="boton" *ngIf="auth.isAuthenticated$ | async">
        </app-logout>

        <ul *ngIf="auth.user$ | async as user">
          <li class="usuario">{{ user.name }}</li>
          <li class="usuario">{{ user.email }}</li>
        </ul>
      </div>

    </div>
    <div class="overlay1" id="overlay1">
      <div class="popup1" id="popup1">
        <h3>Vista previa </h3>

        <h4><strong>Titulo del libro solicitado:</strong> {{datosLiro}}<br><strong>Descripción del libro
            solicitado:</strong> {{datosLibro2}}
          <br><strong>Estado del libro solicitado:</strong> {{datosLibro3}}
          <hr>
          <strong>Nombre del bibliotecario que registra:</strong> {{datosPrest3}}
          <br><strong>Estado del prestamo:</strong> {{datosPrest}}
          <br><strong>Fecha de entrega al solicitante:</strong> {{datosPrest4}}
          <br><strong>Fecha maxima de devolución:</strong> {{datosPrest2}}
        </h4>

        <button style="width: 100%;
        margin-left: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: inherit;
        font-weight: 500;
        font-size: 12px;
        padding: 0.8em 1.3em 0.8em 0.9em;
        color: white;
        background: #1C69B7;
        border: none;
        border-radius: 16px;" id="cerrarpopup" class="btn-outline-primary" (click)="cerrarpopup()">
          <FONT COLOR="white">Aceptar</FONT>
        </button>
      </div>
    </div>

    <div class="overlay2" id="overlay2">
      <div class="popup2" id="popup2">
        <h3>Deudas pendientes<strong style="color: red;"> {{prestamosnodevueltos.length}}</strong></h3>


        <h4 *ngFor="let prestamo of prestamosnodevueltos">
          <hr>
          <strong>Titulo del libro solicitado:</strong> {{prestamo.libro?.titulo}}<br><strong>Descripción del libro
            solicitado:</strong> {{prestamo.libro?.descripcion}}<br>

          <strong>Nombre del bibliotecario que registra:</strong> {{prestamo.idEntrega?.nombres}}
          <br><strong>Fecha de entrega al solicitante:</strong> {{prestamo.fechaEntrega}}
          <br><strong>Fecha maxima de devolución:</strong> {{prestamo.fechaDevolucion}}
        </h4>

        <button style="width: 100%;
        margin-left: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: inherit;
        font-weight: 500;
        font-size: 12px;
        padding: 0.8em 1.3em 0.8em 0.9em;
        color: white;
        background: #1C69B7;
        border: none;
        border-radius: 16px;" id="cerrarpopup" class="btn-outline-primary" (click)="cerrarpopup2()">
          <FONT COLOR="white">Aceptar</FONT>
        </button>
      </div>
    </div>

  </div>
</nav>