body {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/logos%2Ffondo-blanco.jpg?alt=media&token=c8998dec-d6d9-4e39-a6f4-7aff45ede80d);
    background-repeat: no-repeat;
    background-position: 100%;
}



.card {
    width: 90%;
    height: 90%;
    margin-top: 3%;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.4) 10px 20px 30px, rgba(0, 0, 0, 0.3) 10px 1px 53px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    border: 1px solid #004f9f;
    border-radius: 1%;
}

.card:hover {
    transform: scale(1.021);
}


h1 {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 25px;
    font-weight: bold;
    color: #004f9f;
}

.table {
    width: 95%;
    height: auto;
    border: 1px solid #004f9f;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.cabezera {
    background-color: #023b76;
    color: white;
}

.subcabezera {
    background-color: #004f9f;
    color: white;
}

.contenedor {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    margin: 2%;

}

.tablas {
    width: 50%;
}
.details {
    width: 40%;
    font-weight: bold;
    color: #023b76;
}

.input3 {
    margin-left: 1%;
    width: auto;
    margin-right: 1%;
}

.input-box {
    display: flex;
    max-width: 100%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    justify-content: center;
  }

form {
    width: 100%;
}

input {
    height: 70%;
    background-color: #e5e7e8;
    border-color: #004f9f;
    margin-left: 1%;
    color: #023b76;
}

.buscar {
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
}

.contBuscar {
    display: flex;
    width: 50%;
    margin-right: 1%;
    border: 1px solid #004f9f;
}

.btn {
    background-color: transparent;
    width: 2%;
}

button {
    width: 30%;
    height: 70%;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #1C69B7;
    border: none;
    border-radius: 16px;
}

button img {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button:hover img {
    transform: translateX(5px) rotate(90deg);
}

button:hover span {
    transform: translateX(7px);
}



.overlay99 {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay99.active {
    visibility: visible;
}

.popup99 {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    width: 600px;

    background: linear-gradient(135deg, #f8f8f8 0%, #023b76 100%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.popup99 .btn-cerrar-popup {
    font-size: 16px;
    line-height: 18px;
    display: block;
    text-align: right;
    color: #BBBBBB;
    transition: .3s ease all;
}

.popup99 .btn-cerrar-popup:hover {
    color: #000;
}

.popup99 h3 {


    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 40px;
    font-weight: bold;
    color: #004f9f;
}

.popup99 h4 {
    font-size: 26px;
    margin-bottom: 40px;
}

.radiow {
    width: 10%;
    height: 10%;
    border: 1px solid #004f9f;
}