.error-message {
    color: red;
    font-size: small;
  }
body {
    height: 80vh;
    padding: 10px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/logos%2Ffondo-blanco.jpg?alt=media&token=c8998dec-d6d9-4e39-a6f4-7aff45ede80d);
    background-repeat: no-repeat;
    background-position: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    width: 90%;
    height: 90%;
    margin-top: 1%;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.4) 10px 20px 30px, rgba(0, 0, 0, 0.3) 10px 1px 53px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    border: 1px solid #004f9f;
    border-radius: 1%;
}





h1 {
    margin-top: -3%;
    margin-bottom: 2%;
    font-size: 25px;
    font-weight: bold;
    color: #004f9f;
}


button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #1C69B7;
    border: none;
    border-radius: 16px;
    margin-top: 1%;
    width: auto;
}

button img {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button:hover svg {
    transform: translateX(5px) rotate(20deg);
}

button:hover span {
    transform: translateX(7px);
}
input{
    text-align: center;
}
span{
    text-align: center;
}

.input-box {
    display: flex;
    max-width: 100%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    justify-content: center;
    text-align: center;
}

.content {
    width: 100%;
}

.contenedor {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.details {
    width: 70%;
}

.boton {
    margin-left: 70%;
    margin-top: -4%;
}

.combo {
    width: 100%;
    height: 100%;
    margin-left: 2%;
}

.cont {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    width: 25%;
}