body {
    height: 80vh;
    padding: 10px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/logos%2Ffondo-blanco.jpg?alt=media&token=c8998dec-d6d9-4e39-a6f4-7aff45ede80d);
    background-repeat: no-repeat;
    background-position: 100%;
  }
  
  .header {
    width: 94%;
    height: 15%;
    margin-top: 1%;
  }
  
  .menu {
    width: 20%;
    height: 78.5%;
    margin-left: -3%;
    border: 1px solid #004f9f;
    position: absolute;
    background-image: linear-gradient(90deg,#0067CF,white);
     z-index: 0;
  }
  
  .menuOp {
    background-color: #004f9f;
    color: white;
    height: 50%;
    text-align: center;
    width: 100%;
    margin-left: -2%;
    margin-top: 3%;
    border-radius: 0%;
    margin-right: -2%;
    border: 1px solid #004f9f;
  }
  
  .menuOp:hover {
    background-color: white;
    color: #004f9f;
  }
  
  .card {
    width: 78%;
    height: 87%;
    margin-top: 1%;
    margin-left: 20%;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.4) 10px 20px 30px, rgba(0, 0, 0, 0.3) 10px 1px 53px 3px, rgba(1, 0, 0, 0.2) 0px -1px 3px inset;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    border: 1px solid #004f9f;
    border-radius: 1%;
  }
  
  .card:hover {
    transform: scale(1.021);
  }
  
  
  
  h1 {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 25px;
    font-weight: bold;
    color: #004f9f;
  }
  
  .table {
    width: 95.4%;
    border: 1px solid #004f9f;
    margin-left: 3%;
    margin-bottom: 2%;
  
    margin-top: -0.1%;
  }
  
  thead {
    background-color: #004f9f;
    color: white;
  }
  
  .contenedor {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  
  form {
    width: 40%;
  }
  
  
  .buscar {
    width: 80%;
    display: flex;
    justify-content: center;
  }
  
  button {
    margin-left: 2%;
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #1C69B7;
    border: none;
    border-radius: 16px;
  }
  
  button img {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  button:hover img {
    transform: translateX(5px) rotate(90deg);
  }
  
  button:hover span {
    transform: translateX(7px);
  }