<div class="imagen">
    <img src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/logos%2Flogo%20normal%20peque%C3%B1o.png?alt=media&token=59a16c73-3229-4ba7-81be-567aae799d61"
        height="60" width="200" style="margin-left: 10%; margin-top: 1%;">
</div>


<body>
    <div class="card">
        <h1>Reporte de libros por carrera</h1>
        <button id="consultarButton" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
            style="width: 15%;">CONSULTAR</button>
        <form class=" buscarw">
            <button (click)="VerificarDatos()" style="margin-left: 142%;">
                Imprimir &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-printer" viewBox="0 0 16 16">
                    <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
                    <path
                        d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z" />
                </svg></button>
        </form>

        <div class="contenedor">
            <div class="tablas">
                <table class="table">
                    <thead class="subcabezera">
                        <tr>
                            <th>Carrera</th>
                            <th>Estudiantes</th>
                            <th>Docentes</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let carreraPrestamo of carrerasPrestamo">
                            <td>{{ carreraPrestamo.carrera?.nombre }}</td>
                            <td>{{ carreraPrestamo.totalEstudiantesTipo1 }}</td>
                            <td>{{ carreraPrestamo.totalDocentesTipo2 }}</td>
                            <td>{{ carreraPrestamo.totalCarrera }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tablas">
                <table class="table">
                    <thead class="subcabezera">
                        <tr>
                            <th>Titulo de libros</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let libro of libros">
                            <td>{{ libro?.titulo }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>





<div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center;">
                <img src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/logos%2Flogo%20normal%20peque%C3%B1o.png?alt=media&token=59a16c73-3229-4ba7-81be-567aae799d61"
                    height="40" width="210" style="margin-right:1%; margin-top: 0%">
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"
                    style="width: 10%;">Cerrar</button>
            </div>
            <div class="modal-body modal-md">
                <div class="form-group">
                    <label class="form-label" for="searchOption" style="color:#023b76; font-weight: bold">Buscar
                        por:</label>
                    <select class="form-select" id="searchOption" style="border: 1px solid #004f9f"
                        (change)="filter($event)">
                        <option disabled selected>Seleccione una opción</option>
                        <option value="All">Todos</option>
                        <option *ngFor="let car of carreras" value="{{car.id}}">{{ car.nombre }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label" for="startDate" style="color:#023b76; font-weight: bold">Fecha de
                        inicio:</label>
                    <input type="date" class="form-control" id="startDate" [(ngModel)]="startFecha" name="fechaInicio"
                        style="border: 1px solid #004f9f" required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="endDate" style="color:#023b76; font-weight: bold">Fecha de
                        fin:</label>
                    <input type="date" class="form-control" id="endDate" [(ngModel)]="endFecha" name="fechaFin"
                        style="border: 1px solid #004f9f" required>
                </div>
                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="buscars(startFecha, endFecha)"
                    style="display: block; margin: 0 auto;" [disabled]="!startFecha || !endFecha">
                    <img src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fbusqueda.png?alt=media&token=2b59078d-0ef5-4fa4-85c6-396ea7c1c97c"
                        alt="Buscar">
                </button>
            </div>
        </div>
    </div>
</div>